[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tgcrypto = "*"
python-box = "*"
meval = "*"
flask = "*"
psutil = "*"
waitress = "*"
pyrogram = "*"
tabulate = "*"
pillow = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3"
