@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  background-color: #070707;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.content {
  margin: 100px 0 0 10%;
  width: 80%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  z-index: 10;
  transition-duration: 1s;
  transition-property: all;
}

.loading img {
  width: 120px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: drop-shadow(0px 0px 2px cyan);
  -webkit-filter: drop-shadow(0px 0px 2px cyan);
  -moz-filter: drop-shadow(0px 0px 2px cyan);
}

.form_notifi {
  background: rgba(12,12,12);
  position: absolute;
  top: 50%;
  left: 50%;
  width: min-content;
  transform: translate(-50%,-50%);
  padding: 10px 50px 10px 50px;
  box-shadow: 0px 0px 10px 0px rgb(15,15,15);
  border-radius: 10px;
  transition-duration: 0.5s;
  transition-property: all;
}

.align-center {
  text-align: center;
}

input, select {
  margin: 7px;
  text-align: center;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 4px 4px 6px 4px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.bgc-light {
  color: black;
  background: white;
  filter: drop-shadow(0px 0px 2px white);
  -webkit-filter: drop-shadow(0px 0px 2px white);
  -moz-filter: drop-shadow(0px 0px 2px white);
}

.bgc-dark {
  color: white;
  background: rgb(12,12,12);
  filter: drop-shadow(0px 0px 2px rgb(12,12,12));
  -webkit-filter: drop-shadow(0px 0px 2px rgb(12,12,12));
  -moz-filter: drop-shadow(0px 0px 2px rgb(12,12,12));
}

#load-bar[style] {
  height: 100% !important;
  width: 40% !important;
}

.bgc-danger {
  background: #FD1C03;
  filter: drop-shadow(0px 0px 2px #FD1C03);
  -webkit-filter: drop-shadow(0px 0px 2px #FD1C03);
  -moz-filter: drop-shadow(0px 0px 2px #FD1C03));
}

.bgc-warning {
  background: #FFFF33;
  filter: drop-shadow(0px 0px 2px #FFFF33);
  -webkit-filter: drop-shadow(0px 0px 2px #FFFF33);
  -moz-filter: drop-shadow(0px 0px 2px #FFFF33);
}

.bgc-succesfull {
  background: #00FF66;
  filter: drop-shadow(0px 0px 2px #00FF66);
  -webkit-filter: drop-shadow(0px 0px 2px #00FF66);
  -moz-filter: drop-shadow(0px 0px 2px #00FF66);
}

.bgc-info {
  background: #00ccff;
  filter: drop-shadow(0px 0px 2px #00ccff);
  -webkit-filter: drop-shadow(0px 0px 2px #00ccff);
  -moz-filter: drop-shadow(0px 0px 2px #00ccff);
}

button {
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  background: rgba(0,0,0,0);
  padding: 4px 10px;
  margin: 5px;
  transition-duration: 0.5s;
  transition-property: all;
}

button:hover {
  box-shadow: 0 0 8px 1px white;
  background: white;
  color: black;
}

notifi {
  display: block;
  position: fixed;
  opacity: 0;
  margin-top: 100px;
  top: 100%;
  left: 100%;
  transform: translate(-110%, -130%);
  width: 400px;
  transition-duration: 0.5s;
  transition-property: all;
  padding: 25px 20px 10px 20px;
  border-radius: 10px;
}

notifi #close {
  position: absolute;
  left: 93%;
  top: -3px;
  background: none;
  border: none;
  font-size: 20px;
}

.ldBar {
	text-align: center;
  margin: 10px;
  display: inline-block;
}
.ldBar path.mainline {
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: red;
  filter: drop-shadow(0px 0px 2px red);
  -webkit-filter: drop-shadow(0px 0px 2px red);
  -moz-filter: drop-shadow(0px 0px 2px red);
}
.ldBar path.baseline {
  stroke-width: 1px;
  stroke: white;
  stroke-linecap: round;
}
.ldBar-label {
  display: none;
}
.ldBar p {
  font-family: 'Montserrat Alternates', sans-serif;
	position: absolute;
	width: 100%;
	top: 50%;
  transform: translate(0, -50%);
  font-size: 20px;
}

.card {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 7px;
  margin: 7px;
}

.card div.badge {
  float: right;
}

.card-max {
  display: inline-block;
  width: 100%;
  height: min-content;
  padding: 5px 10px;
  border-radius: 7px;
  margin: 7px;
}

.badge {
  display: inline-block;
  border-radius: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  padding: 5px 7px;
  margin: 5px;
}

#avatar {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: inline-block;
}

@media (max-width:500px) {
  .content {
    margin: 10px 0 0 -8px;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .ldBar p {
    font-size: 16px;
  }
  #navbar {
    text-align: center;
  }
  notifi {
    top: 100%;
    left: 0;
    transform: translate(0, -130%);
    width: calc(100% - 20px);
    margin-left: 10px;
  }
}