<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/loading-bar.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/three-dots.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/js/jquery.md5.js"></script>
  <script src="static/js/index.js" defer></script>
  <script src="static/js/loading-bar.js"></script>
  
  <title>Liri0t</title>
</head>
<body>

	<div class="navbar">
	  <h1>Liri0t</h1>
      <i class="bi bi-github"></i>
      <i style="margin-right: 10px;" class="bi bi-telegram"></i>
	</div>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>