<div class="col-12">
    <div style="width: 100%;" class="card bgc-dark" id="navbar">
        <span class="badge bgc-succesfull">{data.release}</span>
        <span class="badge bgc-info"><a href='https://t.me/lirion_dev' style="color: white;"><i style="margin-right: 10px;" class="bi bi-telegram"></i>Telegram</a></span>
        <span class="badge bgc-light"><a href='https://github.com/liriondev' style="color: black;"><i class="bi bi-github"> GitHub</i></a></span>
    </div>
</div>

<div class="col-md-4">

    <div class="card-max bgc-dark align-center">
        <div style="display: inline-block; vertical-align: top;">
            <img src="static/img/{data.avatar}.png" alt="" id="avatar" class="bgc-light">
        </div>
        <dic style="display: inline-block; margin: 10px;">
            <h1 style="display: inline-block;">{data.user.first_name}</h1>
            <br>
            <div class="badge bgc-light">{data.user.username}</div>
            <div class="badge bgc-light">{data.user.id}</div>
        </dic>
    </div>
    
    <div class="card-max bgc-dark align-center">
      <button onclick='exec("loader.reload_all()");notifi("info", "Reloading finished");'>Reload all modules</button>
      <button type="submit">Settings userbot</button>
    </div>

    <div class="card-max bgc-dark align-center">
        <div name='cpu' id="load-bar" class="ldBar" data-preset="circle" ><p>CPU: {data.cpu}%</p></div>
        <div name='disk' id="load-bar" class="ldBar" data-preset="circle" ><p>Disk: {data.disk}%</p></div>
    </div>

</div>

<div class="col-md-8">
    {modules}
</div>

<script language="javascript">
    $(".content").ready(function(){{
        let bar = new ldBar('.ldBar[name=cpu]');
        let bar1 = new ldBar('.ldBar[name=disk]');
        bar.set({data.cpu});
        bar1.set({data.disk});
    }});
</script>
